# Entornos virtuales
.env/
.venv/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs y errores
*.log
*.out
*.err

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de Jupyter Notebook
*.ipynb_checkpoints
.ipynb_checkpoints/

# Metadata de pytest y coverage
.cache/
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Build, distribución y wheel
build/
dist/
*.egg-info/

# CuPy cache (kernels compilados)
~/.cupy_kernel_cache/
cupy_module_cache/

# Configuraciones de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos ZIP o paquetes exportados
*.zip
*.tar.gz
*.whl
